*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.header{
    background:linear-gradient(to right bottom, lightcoral,rgb(189, 50, 115)) ;
    text-align: center;
    font-family: florence,cursive;
    height: 500px;
    width: 100%;
    padding-top:130px;
}
.about{
   display: flex;
}
.about img{
    width:250px;
    height:250px;
    border-radius: 50%;
    margin-top:40px;
    margin-right:50px;
    margin-left:50px;
    border: 10px double rgb(189, 50, 115);
}
.me{
    flex:1;
    width: 500px;
    height: 250px;
    text-align: start;
    padding: 50px;
}
.me h1{
    font-family: florence, cursive;
    font-size: 40px;
    color: lightcoral;
}
.me p{
    font-family: florence, cursive;
    padding-top: 15px;
}
.skills{
    display: flex;
    font-family: florence, cursive;
    padding-top: 50px;
}

.languages{
    flex: 1;
    padding-left: 500px;
}

.tools{
    flex:1;
    padding-left: 300px;
}

.work{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.project1{
    flex: 1;
    padding: 20px;
    font-family: florence, cursive;
    text-align: center;

}
.project1 img{
    width:500px;
    height:400px;
    border: 7px solid rgb(189, 50, 115);
}

.project2{
    flex:1;
    padding: 20px;
    font-family: florence, cursive;
    text-align: center;
}
.project2 img{
    width:500px;
    height:400px;
    border: 7px solid rgb(189, 50, 115);
}

.project3{
    flex: 1;
    padding: 20px;
    font-family: florence, cursive;
    text-align: center;
}
.project3 img{
    width:500px;
    height:400px;
    border: 7px solid rgb(189, 50, 115);
}

.contact{
    text-align: center;
    font-family: florence,cursive;
    padding-top: 20px;
    width: 100%;
}

.footer{
    display: flex;
    align-items: center;
    background-color: black;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
}      
.icon{
    flex: 1;
    text-align: end;
}
.footer p{
    flex: 1;
    text-align: end;
    color: blanchedalmond;
    font-size: 20px;
    font-family: florence, cursive;
}
